@import '../../theme.scss';

.layout {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    height: 100vh;
}

.layout-up {
    height: 100%;
}

.layout-middle {
    display: flex;
    height: calc(100% - #{$FooterHeight});
}