
// Card style's
$CardBorderColor: rgba(204, 204, 204, .5);

// Button style's
$ButtonColor: rgba(204, 204, 204, .5);

// Header style's
$HeaderHeight: 60px;
$HeaderBackgroundColor: rgba(204, 204, 204, .5);

// SideMenu style's
$SideMenuBackgroundColor: lightgray;

// Footer style's
$FooterHeight: 60px;
$FooterBackgroundColor: rgba(204, 204, 204, .5);

